<!DOCTYPE html>
<html lang="en">
    <%- include("../PartialViews/head")%>
<body>
    <%- include("../PartialViews/nav")%>
    
    <h1>Upload Page</h1>
    <form action="/user" method="post">
        <label for="title">Post Title:</label>
        <input type="text" placeholder="Post Title" id="title" name="title">
        <label for="snippet">Snippet:</label>
        <input type="text" placeholder="Your Name" id="snippet" name="snippet">
        <label for="blog">Blog:</label>
        <textarea name="blog" id="blog" cols="30" rows="10"></textarea>
        <button>Submit</button>
    </form>
</body>
</html>